@import url("https://fonts.googleapis.com/css2?family=Knewave&family=Sen:wght@400..800&display=swap");
@import "tailwindcss";

:root {
  /* Background color */
  --background: #F1F1F1;
  --foreground: #DFDFDF;

  /* Font Color */
  --color-red: #ED393B;

  /* Font-Family */
  --font-knewave: "Knewave", system-ui;
  --font-sen: "Sen", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-knewave: var(--font-knewave);
  --font-sen: var(--font-sen);
}

@media (prefers-color-scheme: dark) {

}

body {
  font-family: var(--font-sen);
}

.heading-text{
    color: var(--color-red);
    font-family: var(--font-knewave)
}
